---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: caasportalmysqldata
spec:
  accessModes:
  - ReadWriteMany
  capacity:
    storage: 10Gi
  nfs:
    path: /nfs/caasportalmysqldata
    server: {{ groups.nfsserver[0] }}
  persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: caasportalredisdata
spec:
  accessModes:
  - ReadWriteMany
  capacity:
    storage: 4Gi
  nfs:
    path: /nfs/caasportalredisdata
    server: {{ groups.nfsserver[0] }}
  persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: caasportalredisdata
  namespace: caasportal
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 4Gi
  volumeName: caasportalredisdata
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: caasportalmysqldata
  namespace: caasportal
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  volumeName: caasportalmysqldata
