---
apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: caas-mysql
  name: caas-mysql
  namespace: caasportal 
spec:
  replicas: 1
  selector:
    deploymentconfig: caas-mysql
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: caas-mysql
        deploymentconfig: caas-mysql
      name: caas-mysql
      namespace: caasportal 
    spec:
      containers:
      - env:
        - name: MYSQL_ROOT_PASSWORD
          value: adminpwd
        - name: MYSQL_USER
          value: caasportal 
        - name: MYSQL_PASSWORD
          value: adminpwd 
        - name: MYSQL_DATABASE
          value: hcpaas
        image: {{ harbor_url }}/{{ caas_project }}/{{ mysql_tag }}
        imagePullPolicy: Always
        name: caas-mysql
        ports:
        - containerPort: 3306
          protocol: TCP
        resources:
          limits:
            cpu: "1"
            memory: 4Gi
          requests:
            cpu: 500m
            memory: 2Gi
        terminationMessagePath: /dev/termination-log
        volumeMounts:
        - mountPath: /var/lib/mysql/
          name: caasportalmysqldata
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      securityContext: {} 
      imagePullSecrets:   
        - name: deploycaas
      terminationGracePeriodSeconds: 30
      volumes:
      - name: caasportalmysqldata
        persistentVolumeClaim:
          claimName: caasportalmysqldata

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: caas-mysql 
  name: caas-mysql
  namespace: caasportal
spec:
  ports:
  - name: 3306-tcp
    port: 3306
    protocol: TCP
    targetPort: 3306
  selector:
    deploymentconfig: caas-mysql

---
apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: caas-redis
  name: caas-redis
  namespace: caasportal
spec:
  replicas: 1
  selector:
    deploymentconfig: caas-redis
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: caas-redis
        deploymentconfig: caas-redis
      name: caas-redis
      namespace: caasportal
    spec:
      containers:
      - image: {{ harbor_url }}/{{ caas_project }}/{{ redis_tag }}
        imagePullPolicy: Always
        name: caas-redis
        ports:
        - containerPort: 6379
          protocol: TCP
        resources:
          limits:
            cpu: "1"
            memory: 2Gi
          requests:
            cpu: 125m
            memory: 2Gi
        terminationMessagePath: /dev/termination-log
        volumeMounts:
        - mountPath: /data
          name: caasportalredisdata
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      securityContext: {} 
      imagePullSecrets:   
        - name: deploycaas
      terminationGracePeriodSeconds: 30
      volumes:
      - name: caasportalredisdata
        persistentVolumeClaim:
          claimName: caasportalredisdata

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: caas-redis
  name: caas-redis
  namespace: caasportal
spec:
  ports:
  - name: 6379-tcp
    port: 6379
    protocol: TCP
    targetPort: 6379
  selector:
    deploymentconfig: caas-redis

---
apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: caas-muddle
  name: caas-muddle
  namespace: caasportal 
spec:
  replicas: 1
  selector:
    deploymentconfig: caas-muddle
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: caas-muddle
        deploymentconfig: caas-muddle
      name: caas-muddle
      namespace: caasportal 
    spec:
      containers:
      - env:
        - name: PATH
          value: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
        - name: APPS_HOME
          value: /AppServer
        - name: JAVA_DEBIAN_VERSION
          value: 8u111-b14-2~bpo8+1
        - name: TZ
          value: Asia/Shanghai
        - name: JAVA_HOME
          value: /usr/lib/jvm/java-8-openjdk-amd64
        - name: CA_CERTIFICATES_JAVA_VERSION
          value: "20140324"
        - name: JAVA_OPTS
          value: -Xmx1024m -Xms512m
        - name: JAVA_VERSION
          value: 8u111
        - name: LANG
          value: C.UTF-8
        - name: DB_URL
          value: jdbc:mysql://caas-mysql:3306/hcpaas?characterEncoding=utf8&autoReconnect=true&allowMultiQueries=true  
        - name: REDIS_URL
          value: caas-redis
        - name: REDIS_PORT
          value: '6379'
        image: {{ harbor_url }}/{{ caas_project }}/ {{ muddle_tag }}
        imagePullPolicy: Always
        name: caas-muddle
        ports:
        - containerPort: 8080 
          protocol: TCP 
        resources:
          limits:
            cpu: 500m
            memory: 2Gi
          requests:
            cpu: 120m
            memory: 1Gi
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      hostNetwork: true
      securityContext: {} 
      imagePullSecrets:   
        - name: deploycaas
      terminationGracePeriodSeconds: 30

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: caas-muddle
  name: caas-muddle
  namespace: caasportal
spec:
  ports:
  - name: 8080-tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    deploymentconfig: caas-muddle



---
apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: caas-hcenter
  name: caas-hcenter
  namespace: caasportal 
spec:
  replicas: 1
  selector:
    deploymentconfig: caas-hcenter
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: caas-hcenter
        deploymentconfig: caas-hcenter
      name: caas-hcenter
      namespace: caasportal 
    spec:
      containers:
      - env:
        volumeMounts:
        - name: caas-hcenter-config
          mountPath: /opt/hcenter/storage/config/
        image: {{ harbor_url }}/{{ caas_project }}/{{ hcenter_tag }}
        imagePullPolicy: Always
        name: caas-hcenter
        ports:
        - containerPort: 8080
          protocol: TCP 
        resources:
          limits:
            cpu: 500m
            memory: 2Gi
          requests:
            cpu: 120m
            memory: 1Gi
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      securityContext: {} 
      imagePullSecrets:   
        - name: deploycaas
      volumes:
        - name: caas-hcenter-config
          configMap:
            name: caas-hcenter-config
      terminationGracePeriodSeconds: 30

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: caas-hcenter
  name: caas-hcenter
  namespace: caasportal
spec:
  ports:
  - name: 8080-tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    deploymentconfig: caas-hcenter

---
apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: caas-haproxy
  name: caas-haproxy
  namespace: caasportal 
spec:
  replicas: 1
  selector:
    deploymentconfig: caas-haproxy
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: caas-haproxy
        deploymentconfig: caas-haproxy
      name: caas-haproxy
      namespace: caasportal 
    spec:
      containers:
      - env:
        - name: AUTH_SERVER
          value: caas-pwthsso
        - name: AUTH_PORT
          value: "8080"
        - name: WEB_SERVER
          value: caas-muddle
        - name: WEB_PORT
          value: "8080"
        image: {{ harbor_url }}/{{ caas_project }}/{{ muddle_ha_tag }}
        imagePullPolicy: Always
        name: caas-haproxy
        ports:
        - containerPort: 8888
          protocol: TCP 
        resources:
          limits:
            cpu: 500m
            memory: 2Gi
          requests:
            cpu: 120m
            memory: 1Gi
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      securityContext: {} 
      imagePullSecrets:   
        - name: deploycaas
      terminationGracePeriodSeconds: 30

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: caas-haproxy
  name: caas-haproxy
  namespace: caasportal
spec:
  ports:
  - name: 8888-tcp
    port: 8888
    protocol: TCP
    targetPort: 8888
  selector:
    deploymentconfig: caas-haproxy

---
apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: caas-agamaha
  name: caas-agamaha
  namespace: caasportal 
spec:
  replicas: 1
  selector:
    deploymentconfig: caas-agamaha
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: caas-agamaha
        deploymentconfig: caas-agamaha
      name: caas-agamaha
      namespace: caasportal 
    spec:
      containers:
      - env:
        - name: HCENTER_SERVER 
          value: caas-hcenter
        - name: HCENTER_PORT
          value: "8080"
        - name: WEB_SERVER
          value: caas-haproxy
        - name: WEB_PORT
          value: "8888"
        image: {{ harbor_url }}/{{ caas_project }}/{{ hcenter_ha_tag }}
        imagePullPolicy: Always
        name: caas-agamaha
        ports:
        - containerPort: 8888 
          protocol: TCP 
        resources:
          limits:
            cpu: 500m
            memory: 2Gi
          requests:
            cpu: 120m
            memory: 1Gi
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      securityContext: {} 
      imagePullSecrets:   
        - name: deploycaas
      terminationGracePeriodSeconds: 30

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: caas-agamaha
  name: caas-agamaha
  namespace: caasportal
spec:
  ports:
  - name: 8888-tcp
    port: 8888
    protocol: TCP
    targetPort: 8888
  selector:
    deploymentconfig: caas-agamaha


#TODO enviroment and routes