  apiVersion: v1
  kind: DeploymentConfig
  metadata:
    labels:
      app: caas-omp
    name: caas-omp
    namespace: caasportal
  spec:
    replicas: 1
    selector:
      deploymentconfig: caas-omp
    template:
      metadata:
        labels:
          app: caas-omp
          deploymentconfig: caas-omp
        name: caas-omp
        namespace: caasportal
      spec:
        containers:
        - env:
          - name: PATH
            value: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
          - name: APPS_HOME
            value: /AppServer
          - name: TZ
            value: Asia/Shanghai
          - name: JAVA_HOME
            value: /usr/lib/jvm/java-8-openjdk-amd64
          - name: CA_CERTIFICATES_JAVA_VERSION
            value: "20140324"
          - name: JAVA_OPTS
            value: -Xmx2048m -Xms2048m
          - name: JAVA_VERSION
            value: 8u111
          - name: LANG
            value: C.UTF-8
          - name: spring_datasource_druid_bmp_url
            value: >-
                jdbc:mysql://{{ groups.storage[0] }}:3306/hcpaas_bmp?characterEncoding=utf8&autoReconnect=true&allowMultiQueries=true&serverTimezone=Asia/Shanghai
          - name: spring_datasource_druid_portal_url
            value: >-
                jdbc:mysql://{{ groups.storage[0] }}:3306/hcpaas?characterEncoding=utf8&autoReconnect=true&allowMultiQueries=true&serverTimezone=Asia/Shanghai
          - name: spring_redis_host
            value: caas-redis
          - name: spring_redis_port
            value: '6379'
          - name: spirit_caasUrl
            value: http://caas-haproxy:8888
          - name: JAVA_DEBIAN_VERSION
            value: 8u111-b14-2~bpo8+1
          - name: spirit_allNetCard
            value: {{ net_card_name }}
          - name: spirit_businessNetCard
            value: {{ net_card_name }}
          image: {{ harbor_url | default('harbor.' + os_subdomain) }}/caasportal/omp:{{ omp_tag }}
          imagePullPolicy: Always
          name: caas-omp
          ports:
          - containerPort: 8081
            hostPort: 8081
            protocol: TCP
          resources:
            limits:
              cpu: 4000m
              memory: 4Gi
            requests:
              cpu: 2000m
              memory: 2Gi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /caas-image
            name: hcenter-images
        dnsPolicy: ClusterFirst
        imagePullSecrets:
          - name: deploycaas
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
        volumes:
        - name: hcenter-images
          persistentVolumeClaim:
            claimName: hcenter-images
---
  apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: caas-omp
    name: caas-omp
    namespace: caasportal
  spec:
    ports:
    - name: 8081-tcp
      port: 8081
      protocol: TCP
      targetPort: 8081
    selector:
      deploymentconfig: caas-omp
    sessionAffinity: None
    type: ClusterIP
---
  apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  metadata:
    labels:
      app: caas-agamaha
    name: caas-agamaha
    namespace: caasportal
  spec:
    replicas: 1
    selector:
      deploymentconfig: caas-agamaha
    template:
      metadata:
        labels:
          app: caas-agamaha
          deploymentconfig: caas-agamaha
        name: caas-agamaha
        namespace: caasportal
      spec:
        containers:
        - env:
          - name: HCENTER_SERVER
            value: caas-hcenter
          - name: HCENTER_PORT
            value: "8080"
          - name: WEB_SERVER
            value: caas-haproxy
          - name: WEB_PORT
            value: "8888"
          image: {{ harbor_url | default('harbor.' + os_subdomain) }}/caasportal/agamaha:{{ hcenter_ha_tag }}
          imagePullPolicy: Always
          name: caas-agamaha
          ports:
          - containerPort: 8888
            protocol: TCP
          resources:
            limits:
              cpu: 500m
              memory: 2Gi
            requests:
              cpu: 120m
              memory: 1Gi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        dnsPolicy: ClusterFirst
        imagePullSecrets:
          - name: deploycaas
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
---
  apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  metadata:
    labels:
      app: caas-haproxy
    name: caas-haproxy
    namespace: caasportal
  spec:
    replicas: 1
    selector:
      deploymentconfig: caas-haproxy
    template:
      metadata:
        labels:
          app: caas-haproxy
          deploymentconfig: caas-haproxy
        name: caas-haproxy
        namespace: caasportal
      spec:
        containers:
        - env:
          - name: WEB_SERVER
            value: caas-muddle 
          - name: WEB_PORT
            value: "8080"
          - name: NFS_REGION1_URL
            value: {{ groups.storage[0] }} 
          - name: NFS_REGION1_PORT
            value: "8080"
          - name: OS_REGION1_URL
            value: {{ webconsole_url| default('os-console.' + os_subdomain) }} 
          - name: LANG
            value: C.UTF-8
          - name: OMP_SERVER
            value: caas-omp
          - name: OMP_PORT
            value: "8081"
          image: {{ harbor_url | default('harbor.' + os_subdomain) }}/caasportal/haproxy:{{ muddle_ha_tag }}
          imagePullPolicy: Always
          name: caas-haproxy
          ports:
          - containerPort: 8888
            protocol: TCP
          resources:
            limits:
              cpu: 2000m  
              memory: 2Gi
            requests:
              cpu: 1000m
              memory: 1Gi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        dnsPolicy: ClusterFirst
        imagePullSecrets:
          - name: deploycaas
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
---
  apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  metadata:
    labels:
      app: caas-hcenter
    name: caas-hcenter
    namespace: caasportal
  spec:
    replicas: 1
    selector:
      deploymentconfig: caas-hcenter
    template:
      metadata:
        labels:
          app: caas-hcenter
          deploymentconfig: caas-hcenter
        name: caas-hcenter
        namespace: caasportal
      spec:
        containers:
        - env:
          - name: LANG
            value: C.UTF-8
          - name: EGG_WORKERS
            value: "1"
          - name: EGG_SERVER_ENV
            value: caas
          - name: CAAS_BACKEND
            value: caas-haproxy
          - name: CAAS_BACKEND_PORT
            value: "8888"
          image: {{ harbor_url | default('harbor.' + os_subdomain) }}/caasportal/hcenter:{{ hcenter_tag }}
          imagePullPolicy: Always
          name: caas-hcenter
          ports:
          - containerPort: 8080
            protocol: TCP
          resources:
            limits:
              cpu: 1000m
              memory: 2Gi
            requests:
              cpu: 300m
              memory: 1Gi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        dnsPolicy: ClusterFirst
        imagePullSecrets:
          - name: deploycaas
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30

---
  apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  metadata:
    labels:
      app: caas-muddle
    name: caas-muddle
    namespace: caasportal
  spec:
    replicas: 1
    selector:
      deploymentconfig: caas-muddle
    template:
      metadata:
        labels:
          app: caas-muddle
          deploymentconfig: caas-muddle
        name: caas-muddle
        namespace: caasportal
      spec:
        containers:
        - env:
          - name: PATH
            value: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
          - name: APPS_HOME
            value: /AppServer
          - name: TZ
            value: Asia/Shanghai
          - name: JAVA_HOME
            value: /usr/lib/jvm/java-8-openjdk-amd64
          - name: CA_CERTIFICATES_JAVA_VERSION
            value: "20140324"
          - name: JAVA_OPTS
            value: -Xmx2048m -Xms2048m
          - name: JAVA_VERSION
            value: 8u111
          - name: LANG
            value: C.UTF-8
          - name: DB_URL
            value: jdbc:mysql://{{ groups.storage[0] }}:3306/hcpaas?characterEncoding=utf8&autoReconnect=true&allowMultiQueries=true&serverTimezone=Asia/Shanghai
          - name: REDIS_URL
            value: caas-redis.caasportal.svc.cluster.local 
          - name: REDIS_PORT
            value: "6379"
          - name: vol_create_sleep
            value: "5000"
          - name: openshift_terminal_url
            value: ws://{{ portalapi_url | default('portalapi.' + os_subdomain) }}
          - name: hb_info
            value: YWRtaW46Q2FhczEyMzQ1  
          - name: lic_data
            value: kkkkkkkk 
          - name: JAVA_DEBIAN_VERSION
            value: 8u111-b14-2~bpo8+1
          image: {{ harbor_url | default('harbor.' + os_subdomain) }}/caasportal/muddle:{{ muddle_tag }}
          imagePullPolicy: Always
          name: caas-muddle
          ports:
          - containerPort: 8080
            hostPort: 8080
            protocol: TCP
          resources:
            limits:
              cpu: 2000m
              memory: 2Gi
            requests:
              cpu: 1000m
              memory: 1Gi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        dnsPolicy: ClusterFirst
        hostNetwork: true
        imagePullSecrets:
          - name: deploycaas
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30

---
  apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  metadata:
    labels:
      app: caas-redis
    name: caas-redis
    namespace: caasportal
  spec:
    replicas: 1
    selector:
      deploymentconfig: caas-redis
    template:
      metadata:
        labels:
          app: caas-redis
          deploymentconfig: caas-redis
        name: caas-redis
        namespace: caasportal
      spec:
        containers:
        - image: {{ harbor_url | default('harbor.' + os_subdomain) }}/caasportal/redis:{{ redis_tag }}
          imagePullPolicy: Always
          name: caas-redis
          ports:
          - containerPort: 6379
            protocol: TCP
          resources:
            limits:
              cpu: "1"
              memory: 2Gi
            requests:
              cpu: 125m
              memory: 2Gi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /data
            name: caasportalredisdata
        dnsPolicy: ClusterFirst
        imagePullSecrets:
          - name: deploycaas
        restartPolicy: Always
        securityContext: {}
        terminationGracePeriodSeconds: 30
        volumes:
        - name: caasportalredisdata
          persistentVolumeClaim:
            claimName: caasportalredisdata
---
  apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: caas-agamaha
    name: caas-agamaha
    namespace: caasportal
  spec:
    ports:
    - name: 8888-tcp
      port: 8888
      protocol: TCP
      targetPort: 8888
    selector:
      deploymentconfig: caas-agamaha
    type: ClusterIP
---
  apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: caas-haproxy
    name: caas-haproxy
    namespace: caasportal
  spec:
    ports:
    - name: 8888-tcp
      port: 8888
      protocol: TCP
      targetPort: 8888
    selector:
      deploymentconfig: caas-haproxy
    sessionAffinity: None
    type: ClusterIP
---
  apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: caas-hcenter
    name: caas-hcenter
    namespace: caasportal
  spec:
    ports:
    - name: 8080-tcp
      port: 8080
      protocol: TCP
      targetPort: 8080
    selector:
      deploymentconfig: caas-hcenter
    sessionAffinity: None
    type: ClusterIP
---
  apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: caas-muddle
    name: caas-muddle
    namespace: caasportal
  spec:
    ports:
    - name: 8080-tcp
      port: 8080
      protocol: TCP
      targetPort: 8080
    selector:
      deploymentconfig: caas-muddle
    sessionAffinity: None
    type: ClusterIP
---
  apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: caas-redis
    name: caas-redis
    namespace: caasportal
  spec:
    ports:
    - name: 6379-tcp
      port: 6379
      protocol: TCP
      targetPort: 6379
    selector:
      deploymentconfig: caas-redis
    sessionAffinity: None
    type: ClusterIP 
---
  apiVersion: route.openshift.io/v1
  kind: Route
  metadata:
    labels:
      app: caas-agamaha
    name: caas-agamaha
    namespace: caasportal
  spec:
    host: {{ portal_url | default('portal.' + os_subdomain) }}
    port:
      targetPort: 8888-tcp
    to:
      kind: Service
      name: caas-agamaha
      weight: 100
    wildcardPolicy: None
---
  apiVersion: route.openshift.io/v1
  kind: Route
  metadata:
    labels:
      app: caas-haproxy
    name: caas-haproxy
    namespace: caasportal
  spec:
    host: {{ portalapi_url | default('portalapi.' + os_subdomain) }}
    port:
      targetPort: 8888-tcp
    to:
      kind: Service
      name: caas-haproxy
      weight: 100
    wildcardPolicy: None
