#!/bin/bash


#
# This script should be used AFTER Harbor, NFS, Openshift is ready
# EXECUTED on master, ALL IMAGES needed are already pushed to Harbor
# Just used for caasportal
#
#


#create NFS lv
curl -X GET 'http://{{ groups.nfsserver[0] }}:{{ nfs_port }}/nfs/create?volName=caasportalredisdata&volSize=4096'
curl -X GET 'http://{{ groups.nfsserver[0] }}:{{ nfs_port }}/nfs/create?volName=caasportalmysqldata&volSize=10240'

# login to Openshift
oc login https://{{ groups.masters[0] }} --username=admin --password={{ os_admin_password }} --insecure-skip-tls-verify=true && oc new-project {{ caas_project }}
oc project {{ caas_project }}

#create the secret for pulling images
oc create secret docker-registry deploycaas -n {{ caas_project }}--docker-username=${HARBOR_USER} --docker-password={{ os_admin_password }} --docker-email="admin@example.com" --docker-server="http://{{ harbor_url }}/"

#create the PV and PVC used in deploy
oc create -f caasdeploy_persistent.yml



#create the related pods,svc and routes

oc create -f caasdeploy_pods.yml

#create nodeport for Redis, MySQL


#modify the environment variables of muddle



#create the route for muddle and hcenter 


#import the sql
