127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{% for host in groups.all %}
{{ host }}    {{ hostvars[host].hostname}}
{% endfor %}
{{ groups.storage[0] }} {{ harbor_url | default('harbor.' + os_subdomain) }}
{{ groups.masters[0] }} {{ webconsole_url| default('os-console.' + os_subdomain) }}
