#!/bin/bash
#create project for os_deploy
auth=`echo admin:{{ harbor_password }}|tr -d '\n'|base64`
curl -X POST \
  http://{{ harbor_url | default('harbor.' + os_subdomain) }}/api/projects \
  -H 'authorization: Basic '$auth'' \
  -H 'cache-control: no-cache' \
  -H 'content-type: application/json' \
  -d '{
  "project_name": "caasportal",
  "public": 0,
  "enable_content_trust": true,
  "prevent_vulnerable_images_from_running": false,
  "automatically_scan_images_on_push": true
}'
#import the image
docker load --input /opt/installers/caasportal_images_v1.tar.gz 
docker login {{ harbor_url | default('harbor.' + os_subdomain) }} -u admin -p {{ harbor_password }}
for i in `docker images|awk '{print $1":"$2}'|grep ^caasportal`
do
   targetImage="{{ harbor_url | default('harbor.' + os_subdomain) }}/$i"
   docker tag $i  $targetImage
   docker push $targetImage
   docker rmi $i 
done
