#!/bin/bash
#create project for os_deploy
auth=`echo admin:{{ harbor_password }}|tr -d '\n'|base64`
curl -X POST \
  http://{{ harbor_url }}/api/projects \
  -H 'authorization: Basic '$auth'' \
  -H 'cache-control: no-cache' \
  -H 'content-type: application/json' \
  -d '{
  "project_name": "caasportal",
  "public": 0,
  "enable_content_trust": true,
  "prevent_vulnerable_images_from_running": false,
  "automatically_scan_images_on_push": true
}'
#import the image
cd /{{ store_path }}/portal
docker login {{ harbor_url }} -u admin -p {{ harbor_password }}
for i in `ls *.tar`
do
   image=caasportal/`echo ${i%.*}|tr '_' ':'`
   targetImage="{{ harbor_url }}/$image"
   docker load --input ${i}
   docker tag $image  $targetImage
   docker push $targetImage
   docker rmi $image $targetImage
done
