[OSEv3:children]
masters
nodes
etcd
#lb

[OSEv3:vars]
ansible_ssh_user=root
# 日志输出级别 
# 0:错误和警告
# 2:默认级别
# 4:调式级别
# 6:API调式级别
# 8:API包体调式级别
debug_level=2
containerized=false
deployment_type=origin
#enable_excluders=false
# 多租户网络
os_sdn_network_plugin_name=redhat/openshift-ovs-multitenant

openshift_master_identity_providers=[{'name': 'my_ldap_provider', 'challenge': 'true', 'login': 'true', 'kind': 'LDAPPasswordIdentityProvider', 'attributes': {'id': ['dn'], 'email': ['mail'], 'name': ['cn'], 'preferredUsername': ['cn']}, 'bindDN': 'cn=admin,dc={{ ldap_second }},dc={{ ldap_top }}', 'bindPassword': '{{ ldap_admin_password }}', 'ca': '', 'insecure': 'true', 'url': 'ldap://{{ groups.storage[0] }}:389/ou=users,dc={{ ldap_second }},dc={{ ldap_top }}?cn'}]


openshift_install_examples=true
openshift_clock_enabled=true
openshift_check_min_host_disk_gb=1
# 安装使用的版本
#openshift_pkg_version=-3.9
openshift_pkg_version=-3.9.0
openshift_image_tag=v3.9.0
openshift_version=3.9.0

openshift_master_cluster_method=native
openshift_master_cluster_hostname={{ webconsole_url| default('os-console.' + os_subdomain) }}
openshift_master_cluster_public_hostname={{ webconsole_url| default('os-console.' + os_subdomain) }}
openshift_master_default_subdomain={{ os_subdomain }}
openshift_router_selector='region=master'
openshift_registry_selector='region=master'

# Configure master API and console ports.
openshift_master_api_port=8443
openshift_master_console_port=8443

# logging configuration
openshift_logging_image_version=v3.9
openshift_logging_image_prefix={{ harbor_url | default('harbor.' + os_subdomain) }}/openshift/origin-
openshift_logging_use_ops=true
openshift_logging_master_public_url=https://{{ webconsole_url| default('os-console.' + os_subdomain) }}:8443
openshift_logging_install_logging=true
openshift_logging_es_allow_external=true
openshift_logging_curator_default_days=4
# for docker
docker_upgrade=False
openshift_docker_options="--log-driver=json-file --log-opt max-size=50m -l warn --ipv6=false"
openshift_docker_insecure_registries={{ harbor_url | default('harbor.' + os_subdomain) }}

oreg_url={{ harbor_url | default('harbor.' + os_subdomain) }}/openshift/origin-${component}:${version}
#openshift_examples_modify_imagestreams=true
# 在下载镜像之前，首先选择addition_registry下载镜像
openshift_docker_additional_registries={{ harbor_url | default('harbor.' + os_subdomain) }} 

# 系统中主机ip的掩码为9位，系统支持的最大主机数为2^9=512
osm_host_subnet_length=9
# 每个主机上的pod ip掩码位数为18-9=9，即每台主机上最多有2^9=512个pod的ip
osm_cluster_network_cidr=10.128.0.0/18

openshift_master_admission_plugin_config={"ClusterResourceOverride":{"configuration":{"apiVersion":"v1","kind":"ClusterResourceOverrideConfig","memoryRequestToLimitPercent":"100","cpuRequestToLimitPercent":"100"}}}

# Configure node kubelet arguments. pods-per-core is valid in OpenShift Origin 1.3 or OpenShift Container Platform 3.3 and later.
openshift_node_kubelet_args={'pods-per-core': ['10'], 'max-pods': ['320'], 'image-gc-high-threshold': ['90'], 'image-gc-low-threshold': ['80'],'kube-reserved': ['cpu=200m,memory=512Mi'], 'system-reserved': ['cpu=200m,memory=512Mi']}


openshift_master_identity_providers=[{'name': 'my_ldap_provider', 'challenge': 'true', 'login': 'true', 'kind': 'LDAPPasswordIdentityProvider', 'attributes': {'id': ['dn'], 'email': ['mail'], 'name': ['cn'], 'preferredUsername': ['cn']}, 'bindDN': 'cn=admin,dc={{ ldap_second }},dc={{ ldap_top }}', 'bindPassword': '{{ ldap_admin_password }}', 'ca': '', 'insecure': 'true', 'url': 'ldap://{{ groups.storage[0] }}:389/ou=users,dc={{ ldap_second }},dc={{ ldap_top }}?cn'}]
# for ca
openshift_ca_cert_expire_days=1825
openshift_node_cert_expire_days=1825
openshift_master_cert_expire_days=1825
etcd_ca_default_days=1825
#do not install service_catalog
openshift_enable_service_catalog=false
#for webconsole
openshift_web_console_prefix={{ harbor_url | default('harbor.' + os_subdomain) }}/openshift/
openshift_web_console_image_name=origin-web-console
openshift_web_console_version=v3.9
[masters]
# This variable overrides the internal cluster host name for the system. Use this when the system’s default IP address does not resolve to the system host name.
# This variable overrides the cluster internal IP address for the system. Use this when using an interface that is not configured with the default route.
{% for host in groups.masters %}
{{ host }}
{% endfor %}
[etcd]
{% for host in groups.masters %}
{{ host }}
{% endfor %}

#[lb]
#st.ansible_default_ipv4.address }}
#10.70.77.164

[nodes]
{% for host in groups.masters %}
{{ host }} openshift_node_labels="{'region': 'master'}" openshift_schedulable=true
{% endfor %}
{% for host in groups.nodes %}
{{ host }} openshift_node_labels="{'region': 'node'}" openshift_schedulable=true
{% endfor %}
