{
  "registry-mirrors" : [
    "{{ mirror_url }}"
  ],
  "insecure-registries" : [
     "{{ harbor_url | default('harbor.' + os_subdomain) }}",
     "{{ harbor_url | default('harbor.' + os_subdomain) }}:80"
  ],
  "hosts": [
     "unix:///var/run/docker.sock", "0.0.0.0:4789"
  ]

}
