dn: cn=admin,ou=users,dc={{ ldap_second }},dc={{ ldap_top }}
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
cn: admin
sn: os
displayName: os admin
mail: admin@deploy.com
userPassword: {{ os_admin_password }}
