#create NFS lv
curl -X GET 'http://{{ hostvars[groups['nfsserver'][0]] }}:{{ nfs_port }}/nfs/create?volName=prometheusrule&volSize=2048'
curl -X GET 'http://{{ hostvars[groups['nfsserver'][0]] }}:{{ nfs_port }}/nfs/create?volName=alertmanager&volSize=1024'

# login to Openshift
oc login {{ hostvars[goups['master']][0]}} --username=admin --password={{ os_admin_password }} --insecure-skip-tls-verify=true && oc new-project kube-systems
oc project kube-systems
#grant privileges to mount vlume from host, visit the api of k8s
oadm policy add-cluster-role-to-user cluster-admin system:serviceaccount:kube-systems:default
oadm policy add-scc-to-user privileged system:serviceaccount:kube-systems:default

#oc create secret docker-registry deployprometheus -n ${PROJECT} --docker-username=${HARBOR_USER} --docker-password=${HARBOR_PASSWORD} --docker-email="admin@example.com" --docker-server="http://${HARBOR}/"


oc create configmap prometheus-config --from-file=config/prometheus.yml
oc create configmap alertmanager --from-file=config/config.yml


oc create -f volumes.yml
sleep 5
oc create -f pods.yml

scp alert.rules {{ hostvars[groups['nfsserver'][0]] }}:/nfs/prometheusrule/

