---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: alertmanager
spec:
  accessModes:
  - ReadWriteMany
  capacity:
    storage: "1024Mi"
  nfs:
    path: /nfs/alertmanager/ 
    server: {{ groups.storage[0] }}
  persistentVolumeReclaimPolicy: Retain

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: promrule 
spec:
  accessModes:
  - ReadWriteMany
  capacity:
    storage: "2048Mi"
  nfs:
    path: /nfs/prometheusrule 
    server: {{ groups.storage[0] }}
  persistentVolumeReclaimPolicy: Retain

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: alertmanager 
  namespace: prometheus
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 1024Mi 
  volumeName: alertmanager

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: promrule
  namespace: prometheus
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 2048Mi 
  volumeName: promrule
